body {
    background-color: rgb(249, 243, 211)
}
/* Gif buttons */
.gif_btn {
    width: 100px;
    background-color:#A7A1FF;
    margin-top: 25px;
    border-radius: 5px;
    margin-left: 3px;
}
input {
    margin: 5px 0px;
    border-radius: 5px;
}
.gif_btn:hover{
    background-color:rgb(246, 149, 3);
}
.gif_btn:focus {
    background-color:rgb(246, 188, 3, 0.25);
}
.item {
    display: inline-block;
    margin: 2px;   
}
header {
    margin-bottom: 100px;
    padding: 20px 10px;
}